In [2]:
import pymysql

import pandas as pd

conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='Jonah22Milo18',db='tractortek')

df=pd.read_sql_query("SELECT * FROM 'employees' ",conn)

print(df)

c:\Users\jjspe\Documents\Jeremy Walker\DA Bootcamp\Capstone1\tek-walker-Capstone1\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql 'SELECT * FROM 'employees' ': (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''employees'' at line 1")